.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.gradle/*
.idea/*
bach/bach.iml
godel-demo/godel-demo.iml
godel-netbanking-demo/godel-netbanking-demo.iml
godel.iml
godel/godel-godel.iml
godel/libpeerconnection.log
godel/src/main/assets/juspay/acs.jsa
godel/src/main/assets/juspay/config.jsa
godel/src/main/assets/juspay/uber.jsa
godel/src/main/assets/juspay/uber_html.jsa
godel/src/main/assets/juspay/config.gen.jsa

